.container {
  display: grid;
  background-color: #181c2c;
  height: 100vh;
  display: flex;
}

.middle {
  width: 50vw;
  border-left: solid 1px rgb(191, 191, 188); 
  border-right: solid 1px rgb(191, 191, 183);
}

.headerMiddle {
  color: white;
  display: flex;
  flex-direction: column;
}

.textarea {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  size: 10;
  height: 100%;
  margin: 50px;
  padding: 5px;
}

.counter {
  text-align: right;
}
.homeheader {
  margin: 20px;
}

/* CSS for left side */
.left {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  color: white;
  padding: 20px 0;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.userDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.firstname {
  font-size: x-large; 
  margin: 0;
  font-weight: bold;
}

.username {
  color: gray;
  font-size: large; 
  margin: 0;
}

.logoutButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid #1da1f2;
}
.boutonTweet {
  background-color: #3e9bf0;
  border-radius: 20px;
  width: 80px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  outline: none;
  color: white;
  font-weight: 800;
}

.counteretBouton {
  display: flex;
  justify-content: right;
}




/* CSS for right side */
.right {
  width: 25vw; 
  padding: 20px; 
}

.trends {
  color: white;
  font-size: x-large;
  font-weight: 800;
  margin-bottom: 1em;
}

.trendItem {
  color: white; 
  margin: 5px 0; 
}

.tweetCount {
  font-weight: normal;
  color: #aaa;
}

.hashtags {
  background-color:#292e43;
  min-height: 200px;
  border-radius: 50px;
  padding: 5%;
}