.container {
  display: grid;
  background-color: black;
  height: 100vh;
  display: flex;
}
.left {
  width: 25vw;
  border: solid red;
}

.middle {
  width: 50vw;
  border: solid yellow;
}

.right {
  width: 25vw;
  border: solid white;
}

.headerMiddle {
  display: flex;
  flex-direction: column;
}

.textarea {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  size: 10;
  height: 100%;
  margin: 50px;
  padding: 5px;
}

.counter {
  text-align: right;
}
.homeheader {
  margin: 20px;
}
.boutonTweet {
  background-color: blue;
  border-radius: 20px;
  width: 60px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.counteretBouton {
  display: flex;
  justify-content: right;
}
